---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import HeroSection from '../components/HeroSection.astro';
import ProfileSection from '../components/ProfileSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import BannerSection from '../components/BannerSection.astro';
import ShowcaseSection from '../components/ShowcaseSection.astro';
import ProcessSection from '../components/ProcessSection.astro';
import CTASection from '../components/CTASection.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import PromoSection from '../components/PromoSection.astro';
import ServiceAreasSection from '../components/ServiceAreasSection.astro';
import NewsletterSection from '../components/NewsletterSection.astro';
import ContactSection from '../components/ContactSection.astro';
import MapSection from '../components/MapSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main id="main">
    <HeroSection />
    <ProfileSection />
    <ServicesSection />
    <BannerSection />
    <ShowcaseSection />
    <ProcessSection />
    <CTASection />
    <TestimonialSection />
    <ServiceAreasSection />
    <PromoSection />
    <NewsletterSection />
    <ContactSection />
    <MapSection />
  </main>
  <Footer />
</Layout>
